@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
    --color-blue: var(--blue);
    --color-white: var(--white);
    --color-red: var(--red);
    --color-black: var(--black);
    --color-yellow: var(--yellow);
    --color-asparagus: var(--asparagus);

    --font-heading: var(--font-heading-alt);
    --font-heading-alt: var(--font-heading-alt);
    /* --default-mono-font-family: var(--font-code); */
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 10rem 2rem;
}

body {
    background:
        linear-gradient(90deg, var(--bg-main) 15px, transparent 1%) 50%,
        linear-gradient(var(--bg-main) 15px, transparent 1%) 50%,
        var(--bg-dots);
    background-size: 16px 16px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}
